allow surfaceflinger self:process execmem;
allow surfaceflinger sysfs_drm_resource:dir search;
allow surfaceflinger sysfs_drm_resource:file { read getattr open };
